<form style="width: 60%;">
    <div>
        <label for="key">Key: </label>
        <input
            id="key"
            type="text"
            name="key"
        >
    </div>
    <div>
        <label for="value">Value: </label>
        <input
            id="value"
            type="text"
            name="value"
        >
    </div>
    <div>
        <label for="positon">Position: </label>
        <select name="position" id="position">
            <option value="header" selected>Header</option>
            <option value="query">Query</option>
        </select>
    </div>
</form>