<!DOCTYPE html>
<html>
    <title>API-TESTER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,  intial-scale=1">
    <link rel="stylesheet" href="./global.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</html>
<body>
    <div class="container-fluid vh-100">
        <div class="reactive h-100">
            <div class="col-12 d-flex justify-content-center align-items-center">
                METHOD NOT ALLOWED
            </div>
        </div>
    </div>
</body>