body {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5px 1fr;
    grid-template-columns: 1fr 5px 4fr;
    margin: 0;
    overflow: hidden;
}

#history-area {
    grid-area: 1 / 1 / 4 / 2;
    background-color: gray;
}

#scroll-bar-1 {
    grid-area: 1 / 2 / 4 / 3;
    background-color: black;
    cursor: col-resize;
}

#scroll-bar-2 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: black;
    cursor: row-resize;
}

#request-area {
    grid-area: 1 / 3 / 2 / 4;
}

#response-area {
    grid-area: 3 / 3 / 4 / 4;
}

#request-area > * {
    margin: 1.5rem 1rem;
}

#response-area > * {
    margin: 0.5rem 1rem;
}


input {
    flex:1;
    padding: 0.625rem 0.75rem;
    overflow: scroll;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

/* input[type="checkbox"] {
    flex: 0;
    width: 3rem;
    appearance: none;         
    border: 1px solid black;
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked {
    background: blue;
    border: 1px solid blue;
} */

input[type="radio"] {
    flex: 0;   
    margin-bottom: 1rem;
}

textarea {
    width: auto;
    height: 10rem;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    padding: 0.625rem 0.75rem;
    font-size: 1rem;
}


.icon-btn {
    margin: 1px;
    width: 2rem;
    border: 1px solid white;
    background: white;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease;
}

.add {
    margin-left: 2px;
}

.icon-btn:hover {
    background: blue;
    color: white;
    border-color: blue;
}


.url-bar {
    display: flex;
    width: auto;
    background: white;
    border: 1px solid #ccc;
}


select {
  border: none;
  padding: 0.625rem 0.75rem;
  font-weight: bold;
  cursor: pointer;
}

select:has(option:checked[value="POST"]   )  {background-color: #49CC90;}
select:has(option:checked[value="GET"]    )  {background-color: #61AFFE;}
select:has(option:checked[value="PUT"]    )  {background-color: #FCA130;}
select:has(option:checked[value="DELETE"] )  {background-color: #F93E3E;}
select:has(option:checked[value="PATCH"]   )  {background-color: #50E3C2;}
select:has(option:checked[value="HEAD"]   )  {background-color: #9012FE;}
select:has(option:checked[value="OPTIONS"])  {background-color: #0D5AA7;}




.url-bar button {
  border: none;
  background: #007bff;
  color: white;
  padding: 0.625rem 0.75rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.url-bar button:hover {
  background: #0056b3;
}


.request-params {
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid black;
}



.request-params button {
   background: none;
   border: none;
   padding: 0.625rem 0;
   font-size: 1rem;
   cursor: pointer;
   position: relative;
}

.request-params button::after {
    content: "";
    left: 0;
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 0;
    background: blue;
    transition: width 0.3s ease;
}

.request-params button:hover::after {
    width: 100%;
}

.request-params button.active::after {
    width: 100%;
} 

.request-params-expansion > .visible {
    display: flex;
}

.request-params-expansion > * {
    transition: opacity 0.3s ease;
    display: none;
    width: 100%;
    height: 15rem;
    overflow-y: scroll;
    border: 1px solid white;
    flex-direction: column;
}

.query-params-object {
    margin: 1px;
    display: flex;
    justify-content: space-evenly;
    height: 2rem;
}

.query-params-object input {
    margin: 1px;
}

.auth-params {
    flex-direction: row;
}


.auth-type {
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 15%;
    border-right: 1px solid grey;
}

.auth-data {
    width: 85%;
    display: inherit;
    justify-content: center;
    align-items: center;
}

.auth-data form {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.auth-data  div {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-params-object {
    margin: 1px;
    display: flex;
    justify-content: space-evenly;
    height: 2rem;
}

.header-params-object input {
    margin: 1px;
}

.body-params {
    border: none;
}



.response-params {
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid black;
}



.response-params button {
   background: none;
   border: none;
   padding: 0.625rem 0;
   font-size: 1rem;
   cursor: pointer;
   position: relative;
}

.response-params button::after {
    content: "";
    left: 0;
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 0;
    background: blue;
    transition: width 0.3s ease;
}

.response-params button:hover::after {
    width: 100%;
}

.response-params button.active::after {
    width: 100%;
} 

.response-params-expansion > .visible {
    display: flex;
}

.response-params-expansion > * {
    transition: opacity 0.3s ease;
    display: none;
    width: 100%;
    height: 15rem;
    overflow-y: scroll;
    border: 1px solid white;
    flex-direction: column;
}

.response-input-readonly {
    margin: 1px;
    display: flex;
    justify-content: space-evenly;
    height: 2rem;
}


.response-stats {
    display: flex;
    gap: 2rem;
}

.response-stats button {
   background: none;
   border: none;
   padding: 0.625rem 0;
   font-size: 1rem;
   font-weight: bold;
   cursor: pointer;
}





