body {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5px 1fr;
    grid-template-columns: 1fr 5px 4fr;
    border: thin solid black;
    margin: 0;
}

#history-area {
    grid-area: 1 / 1 / 4 / 2;
    background-color: gray;
    
}

#scroll-bar-1 {
    grid-area: 1 / 2 / 4 / 3;
    background-color: black;
    cursor: col-resize;
}

#scroll-bar-2 {
    grid-area: 2 / 3 / 3 / 4;
    background-color: black;
    cursor: row-resize;
}

#request-area {
    grid-area: 1 / 3 / 2 / 4;
}


#response-area {
    grid-area: 3 / 3 / 4 / 4;
    background-color: blue;
}

#request-area > * {
    margin: 15px 10px;
}


.url-bar {
    display: flex;
    width: auto;
    background: white;
    border: 1px solid #ccc;
}


.url-bar select {
  border: none;
  color: white;
  padding: 10px 12px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border-right: 1px solid #ccc;
}

select:has(option:checked[value="POST"]   )  {background-color: #49CC90;}
select:has(option:checked[value="GET"]    )  {background-color: #61AFFE;}
select:has(option:checked[value="PUT"]    )  {background-color: #FCA130;}
select:has(option:checked[value="DELETE"] )  {background-color: #F93E3E;}
select:has(option:checked[value="PATCH"]   )  {background-color: #50E3C2;}
select:has(option:checked[value="HEAD"]   )  {background-color: #9012FE;}
select:has(option:checked[value="OPTIONS"])  {background-color: #0D5AA7;}


.url-bar input[type="url"] {
  flex: 1;
  border: none;
  padding: 10px 12px;
  font-size: 15px;
  outline: none;
}


.url-bar button {
  border: none;
  background: #007bff;
  color: white;
  padding: 10px 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}


.url-bar button:hover {
  background: #0056b3;
}



.request-params {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid black;
    
}

.request-params button {
   background: none;
   outline: none;
   border: none;
   padding: 10px 0;
   font-size: 16px;
   cursor: pointer;
   position: relative;
}

.request-params button::after {
    content: "";
    left: 0;
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 0;
    background: blue;
    transition: width 0.3s ease;
}

.request-params button:hover::after {
    width: 100%;
}

.request-params button.active::after {
    width: 100%;
} 