<!DOCTYPE html>
<html>
    <head>
        <title>SlimADE</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="web/global.css">
    </head>


    <body>
        <!--History Area-->
        <div id="history-area">

        </div>

        <!--Horizantoal scroll-->
        <div class="scroll-bar" id="scroll-bar-1">

        </div>

        <!--Request Area-->
        <div id="request-area">

             <!--URL BAR-->
            <div class="url-bar">
                <select name="method">
                    <option  selected value="POST">POST</option>
                    <option  value="GET">GET</option>
                    <option  value="PUT">PUT</option>
                    <option  value="DELETE">DELETE</option>
                    <option  value="PATCH">PATCH</option>
                    <option  value="HEAD">HEAD</option>
                    <option  value="OPTIONS">OPTIONS</option>
                </select>
                <input
                    name="url"
                    type="url"
                    id="url-bar"
                >
                <button>
                    SUBMIT
                </button>
            </div>

            <!--Request Params-->
            <div class="request-params">
                <button onclick="active(1)">Queries</button>
                <button onclick="active(2)">Auth</button>
                <button onclick="active(3)">Headers</button>
                <button onclick="active(4)">Body</button>
                <button onclick="active(5)">Additional</button>
            </div>

            <!--Request Param Extension-->

            <div class="request-params-expansion">

                <!--Query Extension-->
                <div class="query-params">
                    <div class="query-params-object">
                        <input name="isChecked" type="checkbox" >
                        <input name="key" type="text" placeholder="key">
                        <input name="value" type="text" placeholder="value">
                        <button 
                            class="icon-btn"
                            hx-get="/ui/queryRemove"
                            hx-trigger="click"
                            hx-swap="delete" 
                            hx-target="closest .query-params-object"
                        >
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor">
                                <line x1="18" y1="6" x2="6" y2="18"/>
                                <line x1="6" y1="6" x2="18" y2="18"/>
                            </svg>
                        </button>
                    </div>
                    <button 
                        class="icon-btn add" 
                        hx-get="/ui/queryAdd"
                        hx-trigger="click"
                        hx-swap="beforebegin"
                    >
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor">
                        <line x1="12" y1="5" x2="12" y2="19"/>
                        <line x1="5" y1="12" x2="19" y2="12"/>
                        </svg>
                    </button>

                </div>

                <!--Auth Params-->
                <div class="auth-params">

                </div>

                <!--Header Params-->
                 <div class="header-params">

                </div>  

                <!--Body Params-->
                <div class="body-params">

                </div>  
                
                <!--Additional Params-->
                <div class="additional-params">

                </div>
            </div>

        </div>

         <!--verital scroll-->
        <div class="scroll-bar" id="scroll-bar-2">

        </div>
       

        <div id="response-area">

        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js" integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ" crossorigin="anonymous"></script>
    <script src="web/js/reactive.js"></script>

</html>